<h2>Administer Licenses</h2>
<h4>Create</h4>
<%= form_for License.new, url: admin_licenses_path, method: :post do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :capacity %>
  <%= f.text_field :capacity %>
  <%= f.submit %>
<% end %>
<h4>Manage</h4>
<hr>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Total</th>
    <th>Used</th>
    <th>Remaining</th>
    <th>Delete</th>
  </tr>
  <% License.all.each do |license| %>
  <tr>
    <td><%= link_to license.name, edit_admin_license_path(license) %></td>
    <td><%= license.capacity %></td>
    <td><%= license.used_count %></td>
    <td><%= license.remaining %></td>
    <td><%= link_to "Delete", admin_license_path(license), method: :delete, data: { confirm: "Delete #{license.name} and all installation records? This action cannot be undone."} %></td>
  </tr>
  <% end %>
</table>