<ul class='nav'>
<li><%= link_to "Log Out #{current_user.name}", logout_path %></li>
<li><%= link_to "View Licenses", licenses_path %></li>
<li><%= link_to "View Assets", machines_path %></li>
<% if current_user.admin? %>
  <li><%= link_to "Administer Licenses", licenses_path %></li>
  <li><%= link_to "Administer Assets", machines_path %></li>
  <li><%= link_to "Administer Users", licenses_path %></li>
<% end %>
