<!DOCTYPE html>
<html>
<head>
  <title>Norrington</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  <h3>Signed in as <%= current_user.name %> | <%= link_to 'Sign out', '/logout', method: :delete %></h3>
  <%= render partial: 'layouts/nav' %>
  <br><br>
<% end %>
<%= yield %>

</body>
</html>
